#include <windows.h>

// 应用程序图标
IDI_ICON1 ICON "..\\..\\..\\installer\\icon.ico"

// 版本信息
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "SDUVPN Project"
            VALUE "FileDescription", "SDUVPN VPN Client for Windows"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "sduvpn-client"
            VALUE "LegalCopyright", "Copyright © 2024 SDUVPN Project"
            VALUE "OriginalFilename", "sduvpn-client.exe"
            VALUE "ProductName", "SDUVPN Client"
            VALUE "ProductVersion", "1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
